.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .navbar {
    height: 10vh;
    max-height: 10vh;
    color: black;
    z-index: 1000;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    // max-width: 1230px;
    color: white;
    /* background-color: #111; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // background-color: #ffffd0;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #09fdfe;

    .logo {
      /* padding: 0 20px; */
      flex: 1 1;
      font-family: "Merriweather Sans";
      font-weight: 700;

      .logo-sub {
        line-height: 2;
        // font-size: 30px;
        text-align: left;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-content: center;

        .logo-left {
          height: 60px;
          width: 60px;
        }

        .logo-right {
          height: 100px;
          width: 100px;
        }
      }
    }

    .navmenu {
      /* margin-left: auto; */
      padding: 0 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      flex-wrap: wrap;

      .navitem {
        &:first-child {
          margin-left: 25px;
          transition: transform 0.2s;
          border: 1px solid transparent;
          padding: 15px;
          border-radius: 15px;
          min-width: 60px;
          text-align: center;
          // background-image: url("../../public/images/1873.jpg");
          // background-position: 200px 800px;
          background-position: 0px 0px;
          background-size: contain;
          background-color: #fedc00;
        }

        &:nth-child(2) {
          margin-left: 25px;
          transition: transform 0.2s;
          border: 1px solid transparent;
          padding: 15px;
          border-radius: 15px;
          min-width: 60px;
          text-align: center;
          background-image: url("../../public/images/1873.jpg");
          background-position: 6000px 5900px;
        }

        &:hover {
          transform: scaleX(1.1);
        }

        .navlink {
          font-size: 1.2rem;
          font-family: "Merriweather Sans";
          font-weight: 700;
          text-decoration: none;
          // color: rgb(60, 60, 60);
          // color: rgb(18, 18, 18);
          color: white;
        }
      }
    }

    .hamburger {
      background-color: #ff7700;
      display: none;
      margin-left: 10px;
      color: rgb(29, 29, 29);
      border: none;
      border-radius: 8px;
      padding: 0.25em 0.5em;
      box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
        4px 4px 0px 0px, 5px 5px 0px 0px;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      .bar {
        display: block;
        width: 32px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #ffffff;
      }
    }

    .hamburger.active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }

    .button {
      /* font-family: "Open Sans", sans-serif; */
      font-size: 18px;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bolder;
      color: rgb(0, 0, 0);
      cursor: pointer;
      background: #7effe0;
      padding: 0.25em 0.5em;
      /* margin-top: 12px; */
      border-radius: 10px;
      border: 4px solid rgb(0, 0, 0);
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .button:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
  }
}

.hr {
  margin: 10px;
  width: 70%;
}

@media (max-width: 768px) {
  /* .connect {
      visibility: hidden;
    } */

  .header {
    .navbar {
      justify-content: space-around;

      .logo h1 {
        line-height: 1;
        font-size: 10px;
      }

      .navmenu {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: 2px solid rgb(211, 211, 211);
        border-bottom: 2px solid rgb(211, 211, 211);
        z-index: 100;
        position: fixed;
        left: -100%;
        top: 3.3rem;
        flex-direction: column;
        background: rgb(18, 18, 18);
        width: 50%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

        .navitem {
          margin: 2.5rem 0;
        }
      }

      .navmenu.active {
        left: 0;
      }

      .hamburger {
        /* margin-left: auto; */
        display: block;
        cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}